// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #175C71;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #fff;
$gray: #6c757d;
$gray-dark: #343a40;

$primary: #175C71;
$secondary: #6c757d;
$success: #38c172;
$info: #6cb2eb;
$warning: #ffed4a;
$danger: #e3342f;
$light: #FAFAFA;
$dark: #343a40;